# Godot 4+ specific ignores
.godot/
/android/
assets/
tools/sprites_extractor/extract_sprites_test_output
tools/sprites_extractor/extract_sprites_test_input

# Common image extensions
*.png
*.swf
*.import
*.uid